$fuenteCursiva: 'Cedarville Cursive',
cursive;
$fuenteScript: 'Quicksand',
sans-serif;
$colorRosa:#ef83b9;
$colorVerde: #99bd95;
$colorDurazno: #fce8d4;
$colorAzul: #446d6f;
$colorDuraznoLetra :#fcb576;


;
@mixin fuente-cursiva-principal {
	font-family: $fuenteCursiva;
	color: $colorRosa;
}

@mixin fuente-cursiva-titulos-secciones{
	font-family: $fuenteCursiva;
	color: $colorVerde;
}

@mixin fuente-script-principal {
	font-family: $fuenteScript;
	color: $colorVerde;
}

@mixin fuente-script-subtitulos{
	font-family: $fuenteScript;
	color: $colorAzul;
	display: inline-block;
}

@mixin fuente-script-subtitulo2{
	font-family: $fuenteScript;
	color: $colorDuraznoLetra;
}

