@import'mixins';
.contenedor-inicio {
	 background: -webkit-linear-gradient(#fce8d4, #fff);
	padding-bottom: 10%;
}

.titulo-principal {
	margin-top: 6%;
	&--txt {
		@include fuente-cursiva-principal;
	}
}

.subtitulo-principal {
	&--txt {
		@include fuente-script-principal;
		display: inline-block;
	}
}

.titulo-seccion h4 {
	@include fuente-cursiva-titulos-secciones;
}

.contenedor-fotografia {
	width: 100%;
	height: 100%;
	&__img {
		width: 70%;
		height: 70%;
	}
}

.texto-descriptivo{
	text-align: justify;
	font-size: 1.5vw;
	font-family: $fuenteScript;
	background-color: $colorDurazno;
	padding: 10%;
	margin-top: 16%;
	color:#446d6f;
}

.contenedor-habilidades{
	 background: -webkit-linear-gradient( #fff,#fce8d4);
}


