body{
margin: 0;
padding: 0;
}
/* sección inicio*/
@import'mixins';
.contenedor-inicio {
	 background: -webkit-linear-gradient(#fce8d4, #fff);
	 padding-bottom: 5%;
}

.titulo-principal {
	margin-top: 6%;
	&--txt {
		@include fuente-cursiva-principal;
	}
}

.subtitulo-principal {
	&--txt {
		@include fuente-script-principal;
		display: inline-block;
	}
}

/*media query para  inicio*/
@media (max-width: 480px){ 
	.contenedor-inicio{
		padding-top: 40%;
	    padding-bottom: 60%;
	}
	.titulo-principal--txt{
	  font-size: 3em;
	}
	.subtitulo-principal--txt{
	  font-size: 1.5em;	
	}
}
/*termina sección inicio*/




/*inicia navegador*/
	.contenedor-navegador {
	width: 100%;
	height: 10%;
	background-color:#446d6f;
	display: none;
		z-index: 1;

	&__barra-nav{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		
	}
	
	a{
		@include fuente-script-principal;
		color: white;
		padding: 7%;
	}
	li{
		display: flex;
		list-style: none;
		margin: 1%;
	}
}

/*termina navegador*/


/*inicia sección acerca de mi */
.contenedor-acerca-de{
	margin-top:7%;
}
.contenedor-fotografia {
	width: 100%;
	height: 100%;
	&__img {
		width: 70%;
		height: 70%;
	}
}

.texto-descriptivo{
	text-align: justify;
	font-size: 1.5vw;
	font-family: $fuenteScript;
	background-color: $colorDurazno;
	padding: 10%;
	margin-top: 16%;
	color: $colorAzul;
}

.btn{
	@include fuente-cursiva-titulos-seccionesAzul;
	text-transform: lowercase;
	font-size: 1.5em;
	background: -webkit-linear-gradient( #fff,#fce8d4);
}


/*media query para acerca de */
@media (max-width: 480px){ 
	.contenedor-navegador{
		display: none;
	}
	.texto-descriptivo{
		font-size: 1.3em;
		text-align: center;
		margin-top:0;
	}
	
}
/*termina seccion acerca de mi*/

/*inicia sección habilidades*/
.contenedor-habilidades{
	
	 background: -webkit-linear-gradient( #fff,#fce8d4);
	padding-top: 5%;
}
.carousel{
	height: 250px;
}
.carousel .carousel-item>img{
	width: 60%;
}

.subtituloAzul{
	@include fuente-cursiva-titulos-seccionesAzul;
	margin-bottom: 7%;	
}
.typing-subtitulos{
	@include fuente-script-subtitulos;	
}

.subtitulo{
	@include fuente-cursiva-titulos-secciones;
	margin-bottom: 7%;	

}


.subtitulos2{
@include fuente-script-subtitulo2;
margin-top:100%; 	
}
.subtitulos3{
@include fuente-script-subtitulo2;

}
.typing-subtitulos_blandas{
 @include fuente-cursiva-titulos-secciones;
 display: inline-block;
}


.contenedor-habilidades li{
	font-family: $fuenteScript;
	color: $colorAzul;
	list-style: none;
}

/*media query de habilidades*/
@media (max-width: 480px){ 
	.carousel{
		height:200px;	
	}
	.subtitulos2{
		font-size: 1em;
	}
	}

/*termina seccion habilidades*/

/*inicia sección proyectos*/
.contenedor-proyectos{
	 background: -webkit-linear-gradient( #fce8d4,#fff);
	 margin-button:5%;
	
}


.card-reveal {
 p{
	font-family: $fuenteScript;
	color: $colorAzul;
	
 }
	span{
		@include fuente-script-principal
	}
	
	i{
		color: $colorDuraznoLetra;
	}
	
}

.textos{
	@include fuente-script-principal;
}

#proyectos{
padding-top: 10%;
	padding-top: 5%;
	
}
/*termina sección proyectos*/
.row{
	margin-bottom: 0;
}

/*inicia sección cotnacto*/
.separacion{
	margin-top:5%;
	margin-bottom: 5%;
}

.contenedor-contacto{
		 background: -webkit-linear-gradient( #fff,rgba(220, 214, 108, 0.4));
}

.fa{
	padding: 5%;
}

.fa-whatsapp{
	color:#fcb576;
	font-size: 5em;
	transform: rotate(7deg)
}

.fa-envelope-o{
	color:#446d6f;
	font-size:5em;
	transform: rotate(354deg)
}

.fa-linkedin{
	color: #99bd95;
	font-size: 5em;
	transform: rotate(10deg)
}

.fa-github{
	color:rgb(220, 214, 108);
	font-size:5em;
	transform: rotate(50deg)
}

.fa:hover{
	transform: rotate(0deg);
	font-size:3em;
}

/*termina seccion cotnacto*/

/*inicia footer*/
 footer{
display: flex;
justify-content: center;
width: 100%;
height:5%;
background-color:rgba(54, 95, 100,0.3);
padding:2%;
font-family:'Cedarville Cursive',
cursive;
color:#99bd95;
}

/*termina footer*/
